/* mobile first */

@media screen and (min-width: 837px) {
  /* first-section */

  .first-section.flex {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .long-card {
    width: 40%;
    align-self: flex-start;
    flex-grow: 1;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 0px;
    margin-right: 30px;
  }

  .card {
    width: 30%;
    margin-right: 10px;
    padding-bottom: 220px;
    padding-top: 28px;
    margin-top: 40px;
  }

  .card.bg-pink,
  .card.bg-yellow,
  .card.bg-lilac {
    margin-top: 25px;
  }

  .small-img-example {
    margin-bottom: 20px;
  }

  .link-center {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .btn {
    padding: 10px 70px;
  }

  /* / first-section */

  /* second-section */

  .big-img-example {
    width: 600px;
    height: 400px;
    align-self: center;
  }

  .second-section {
    flex-direction: column;
  }

  .text > .title-plan {
    font-size: 3rem;
  }

  .text > .description,
  .link-img {
    font-size: 0.8rem;
  }

  .bottom-info {
    padding: 20px 0;
  }

  .plan-card {
    padding-top: 10px;
  }

  .mid-img-example {
    width: 300px;
    height: 250px;
  }

  .resize-title-plan {
    font-size: 0.9rem;
  }

  .btn-circle.bg-violet {
    padding: 10px 20px;
  }

  /* / second-section */

  /* third-section */

  .title-section {
    font-size: 0.8rem;
  }
  .third-section {
    margin-bottom: 20px;
  }

  .testimonial-card.flex {
    flex-direction: row;
    padding: 20px 0;
  }

  .img-circle {
    width: 200px;
    height: 150px;
    margin-bottom: 0;
    margin: 20px 20px;
  }

  .descript-experience {
    width: 90%;
    text-align: left;
    margin-left: 10px;
  }

  .testimonial-name {
    text-align: left;
    margin-left: 10px;
  }

  /* / third-section */

  /* fourth-section */
  .flex-wrap {
    display: grid;
    grid-template-rows: 380px 380px 380px;
    grid-template-columns: 250px 250px;
    align-content: center;
    gap: 10px;
  }
  .benefits-title {
    margin-bottom: 40px;
  }
  .benefit-card {
    margin-right: 5px;
    margin-top: 10px;
  }

  .content-benefit {
    align-items: center;
    justify-content: center;
  }

  .f-size-number-one {
    font-size: 3rem;
    font-weight: 550;
  }
  /*  fourth-section */

  /* fifth-section */

  .about-content {
    flex-direction: row;
    justify-content: center;
  }

  .text-about {
    padding-left: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .about-link-img {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .cit-about {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big-img-circle {
    width: 170px;
    height: 160px;
    margin-top: 80px;
    margin-left: 20px;
  }

  .cit {
    font-size: 1rem;
    width: 50%;
    line-height: 25px;
  }

  .large-btn {
    font-size: 0.6rem;
    padding: 10px 18px;
    width: 50%;
  }

  .long-description {
    line-height: 25px;
  }

  /* / fifth-section */
}
