/* generics */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* utilities */

.flex {
  display: flex;
  flex-direction: column;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.f-weigth {
  font-weight: 600;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/******* SEZIONE HEADER *******/

header {
  background-color: rgb(0, 132, 253);
}

.navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  color: white;
  margin: 0 auto;
}

/******* / SEZIONE HEADER *******/

/******* SEZIONE MAIN *******/

/* prima section  */

/* colors */

.bg-green {
  background-color: rgb(84, 198, 136);
}

.green {
  color: rgb(84, 198, 136);
}

.bg-light-green {
  background-color: rgb(202, 240, 219);
}

.dark-green {
  color: rgb(93, 138, 115);
}

#blue {
  color: rgb(21, 122, 232);
}

#light-blue {
  color: rgb(79, 121, 163);
}

.bg-pink {
  background-color: rgb(254, 210, 209);
}

.red {
  color: rgb(253, 137, 138);
}

.bg-red {
  background-color: rgb(253, 137, 138);
}

.bordeaux {
  color: #9d706b;
}

.bg-yellow {
  background-color: rgb(255, 231, 195);
}

.bg-dark-yellow {
  background-color: rgb(255, 193, 100);
}

.dark-yellow {
  color: rgb(255, 193, 100);
}

.gold {
  color: rgb(190, 165, 124);
}

.bg-lilac {
  background-color: rgb(213, 212, 244);
}

.bg-violet {
  background-color: #9692e6;
}

.violet {
  color: #9692e6;
}

.dark-violet {
  color: rgb(99, 108, 151);
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

/* / colors */

figure {
  border-radius: 20px;
}
section {
  align-items: center;
}

.card {
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
}

.long-card {
  margin-top: 50px;
  width: 300px;
  background-color: rgb(185, 219, 255);
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0 0 40px;
}

.title-card {
  font-size: 1.5rem;
}

.description {
  line-height: 25px;
  font-size: 1rem;
  padding-top: 20px;
}

.btn {
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(21, 122, 232);
  text-align: center;
}

.img-example {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 180px;
  height: 300px;
  margin-left: 10px;
  background-color: antiquewhite;
}

.small-img-example {
  border-radius: 10px;
  width: 70px;
  height: 80px;
}

.underline-link {
  color: black;
  border-bottom: 1px solid black;
  padding-top: 2px;
  cursor: pointer;
}

.bottom-info {
  padding: 25px 0 50px;
  text-align: center;
}

/* / prima section  */

/* second-section */

.second-section,
.fourth-section,
.sixth-section {
  background-color: rgb(150, 146, 230);
  padding-bottom: 50px;
}

.big-img-example {
  border-radius: 40px;
  width: 280px;
  height: 250px;
  margin-bottom: 100px;
}

.content-plan {
  align-items: center;
  padding-top: 100px;
}

.underline-link-white {
  color: white;
  border-bottom: 1px solid;
  padding-top: 2px;
}

.link-img .bottom-info {
  text-align: left;
}

.plan-card,
.testimonial-card {
  padding-top: 25px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
}

.mid-img-example {
  width: 250px;
  height: 200px;
  border-radius: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.italic-text {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 30px;
}

.download {
  color: black;
  font-size: 1.2rem;
}

.btn-circle {
  border-radius: 50%;
  padding: 20px 30px;
}

/* / second-section */

/* third-section */

.testimonial-content {
  align-items: center;
  padding-top: 50px;
}

.title-section {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.testimonial-text,
.benefits-title,
.call-action-content {
  text-align: center;
}

.big-title {
  font-size: 2rem;
}

.big-description {
  font-size: 1.2rem;
  padding-bottom: 50px;
}

.testimonial-card {
  margin-bottom: 25px;
}

.descript-experience {
  font-size: 1.1rem;
}

.testimonial-name {
  font-size: 1.2rem;
  padding-top: 20px;
}

.f-space {
  line-height: 30px;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* / third-section */

/* fourth-section */

.w-95 {
  width: 95%;
}

.benefit-card {
  padding-left: 20px;
  margin-top: 60px;
  padding-bottom: 30px;
}

.benefits-title {
  padding-top: 50px;
  font-size: 1.8rem;
}

.title-benefit-card {
  padding-top: 25px;
}

.des-benefit {
  padding-bottom: 20px;
}

.btn-violet {
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
}

.f-size-number {
  font-size: 3rem;
  font-weight: 550;
}

/* / fourth-section */

/* fifth-section */

.about-title {
  font-size: 3rem;
  padding-top: 80px;
}

.long-description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 40px;
  padding-bottom: 25px;
}

.about-link-img {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 80px;
}

.big-img-circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.cit {
  font-size: 1.6rem;
  line-height: 35px;
}

.large-btn {
  border-radius: 5px;
  display: inline;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  margin: 20px 0 50px;
}

/* / fifth-section */

/* sixth-section */

.opacity-title {
  color: rgba(255, 255, 255, 0.3);
}

.call-action-text {
  padding-top: 80px;
}

.feature-text {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 20px;
}

.spoiler-alert {
  font-size: 3.6rem;
}

.extralarge-btn {
  border-radius: 40px;
  padding: 25px;
  font-weight: 550;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 0 10px;
}

.copyright {
  margin-top: 10px;
  font-size: 0.83rem;
  text-align: center;
}

#terms-bull::before,
#terms-bull::after {
  content: "\2022";
}

/* / sixth-section */

/******* / SEZIONE MAIN *******/

/******* SEZIONE FOOTER *******/

/******* / SEZIONE FOOTER *******/
