/* generics */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/* utilities */

.flex {
  display: flex;
  flex-direction: column;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.container {
  margin: 0 auto;
  width: 80%;
}

figure {
  border-radius: 20px;
}

/******* SEZIONE HEADER *******/

header {
  background-color: rgb(0, 132, 253);
}

.navigation {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  color: white;
  margin: 0 auto;
}

/******* / SEZIONE HEADER *******/

/******* SEZIONE MAIN *******/

/* prima section  */

/* colors */

.bg-green {
  background-color: rgb(84, 198, 136);
}

.green {
  color: rgb(84, 198, 136);
}

.light-green {
  background-color: rgb(202, 240, 219);
}

.dark-green {
  color: rgb(93, 138, 115);
}

#blue {
  color: rgb(21, 122, 232);
}

#light-blue {
  color: rgb(79, 121, 163);
}

.bg-pink {
  background-color: rgb(254, 210, 209);
}

.red {
  color: rgb(253, 137, 138);
}

.bg-red {
  background-color: rgb(253, 137, 138);
}

.bordeaux {
  color: #9d706b;
}

.bg-yellow {
  background-color: rgb(255, 231, 195);
}

.bg-dark-yellow {
  background-color: rgb(255, 193, 100);
}

.dark-yellow {
  color: rgb(255, 193, 100);
}

.gold {
  color: rgb(190, 165, 124);
}

.bg-lilac {
  background-color: rgb(213, 212, 244);
}

.bg-violet {
  background-color: #9692e6;
}

.violet {
  color: #9692e6;
}

.dark-violet {
  color: rgb(99, 108, 151);
}

/* / colors */

.card {
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
}

.long-card {
  margin-top: 50px;
  width: 300px;
  background-color: rgb(185, 219, 255);
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0 0 40px;
}

.title-card {
  font-size: 1.5rem;
}

.description {
  line-height: 25px;
  font-size: 1rem;
  padding-top: 20px;
}

.btn {
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgb(21, 122, 232);
  text-align: center;
}

.img-example {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 180px;
  height: 300px;
  margin-left: 10px;
  background-color: antiquewhite;
}

.small-img-example {
  border-radius: 10px;
  width: 70px;
  height: 80px;
}

.underline-link {
  color: black;
  text-decoration: underline;
}

.bottom-info {
  padding: 25px 0 50px;
  text-align: center;
}

/* / prima section  */

/******* / SEZIONE MAIN *******/

/******* SEZIONE FOOTER *******/

/******* / SEZIONE FOOTER *******/
